<style type="text/css">
    
    .about-details{
    	margin-left: 10px;
    	margin-top: 20px;
    }

</style>

{% extends 'base.html' %}
{% block content %}



<div class="about-details">

	<h2>How to Use</h2>
	<ol>
		<li>To add individual, click on Add individual and fill the form then submit it.</li>
		<li>To add relation, click on add relation button, fill then form and submit.</li>
		<li>First make partners spouse, then only add childrens. Otherwise they will not be visible.</li>
		<li>If cards became invisible, check any left relations.</li>
	</ol>

	<h2>Created Using</h2>
	<ol>
		<li>Django Framework</li>
		<li>Web Languages: CSS, HTML, JS</li>
		<li>Backend Languages: Python</li>
		<li>Tools: Git</li>
		<li>3rd Party Library: <a href="https://balkan.app/FamilyTreeJS" style="text-decoration: None; color:black;">Balkan FT Library</a></li>
	</ol>

</div>



{% endblock content %}