/*the body element*/
body {
	background-color: #17f9ae;
}

/*img element*/
img {
	width: 100%;
	border-radius: 12px;
	height: 214px;
	object-fit: cover;
}

/*container styling*/
#container {
	max-width: 300px;

	/*center the container in middle on horizontal axis*/
	margin: 0 auto;

	/*add empty space above container*/
	margin-top: 20vh;
}

/*styling the card*/