<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

	<h3>Your Saved Data</h3>

	<ul>
		{% for ind in individuals %}

		<!-- print info  -->
		<li>
			{{ind.first_Name}}
			{{ind.last_Name}}
		</li>

		{% endfor %}
	</ul>

	<h3> Create your tree here</h3>

	<!-- This form will take user's info -->
	<form action="" method="POST">
		
		<!-- for the csrf verification required -->
		{% csrf_token %}

		<input name="first_name">
		<input name="last_name">
		
		<button>Add</button>

	</form>

</body>
</html>